<a href="https://colab.research.google.com/github/Qh0601/quynhhuong01.github.io/blob/main/buoi02_250816/python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
print("Hello, World!")

Hello, World!

In [56]:
x = 2
price = 2.5
word = "Hello"

word ='Hello'
word = "Hello"
word = """Hello"""

In [55]:
x = 2
y = x + 1

In [50]:
#comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [ ]:
x = "Hello World" #str
x = 2             #int
x = 2.5           #float
x = 7j            #complex

# Cấu trúc dữ liệu

In [63]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0

print(x, type (x))
print(y, type (y))
print(z, type (z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [65]:
x = 2   # int
y = 3.4 # float
z = 7j  #complex

print(x, type (x))
print(y, type (y))
print(z, type (z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [74]:
# Operator
print (7+2)
print (7-2)
print (7*2)
print (7/2)
print (7%2)
print (7**2)
print (7//2)

9
5
14
3.5
1
49
3

In [75]:
# BMI
# Input

height_cm = 170
weight_kg = 60

# Process
height_m = height_cm / 100
bmi = weight_kg / (height_m ** 2)

# Output
print("BMI:", bmi)

BMI: 20.761245674740486

In [76]:
# How much is your $100 worth after 7 years
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [77]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print('fv = ', round(fv, 2))

fv =  194.87

In [78]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6)                      #range
x = {"name" : "Tom", "age" : 20}  #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"}) #frozenset

In [80]:
x = [60, 70, 80, 90]
print(x[0])
print(x[1])
print(x[-1])

60
70
90

In [ ]:
x = True #bool
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType

In [49]:
# loop
for i in range(1, 6):
  print(i, end = ' ')

1 2 3 4 5

In [45]:
# 2 loop
for i in range(1, 10):
  for j in range(1, 10):
    print(f'{i} * {j} = {i*j}')
  print('-'*50)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [51]:
# while loops
age = 10
while age < 20:
  print(age)
  age = age + 1

10
11
12
13
14
15
16
17
18
19

Module & Function

In [52]:
# functions
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv

fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [53]:
# class: properties (veriables) + methods (funtions)
class MyClass:
  x = 5

c1 = MyClass()
print(c1.x)

5

In [58]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Alan", 20)
print(p1.name)
print(p1.age)

Alan
20

In [59]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)
p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [62]:
class Vehicle:
  name = ""
  kind = "car"
  color = ""
  value = 100.00
  def description(self):
    desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
    return desc_str
    pass

  car1 = Vehicle()
  car1.name = "Fer"
  car1.color = "red"
  car1.kind = "convertible"
  car1.value = 60000.00

  car2 = Vehicle()
  car2.name = "Jump"
  car2.color = "blue"
  car2.kind = "van"
  car2.value = 10000.00

  print(car1.description())
  print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

In [64]:
%%writefile mymodule.py
def greeting(name):
  print("Hello, " + name)

Writing mymodule.py

# Read/Write File

In [69]:
with open('myfile.txt', 'w') as file:
  file.write('Hello World\nThis is Python File Input Output')

with open('myfile.txt', 'r') as file:
  text = file.read()
  print(text)

Hello World
This is Python File Input Output

In [70]:
def main():
  print("Hello World!")
if __name__ == "__main__":
  main()

Hello World!

# Try, Except & File Handling

In [73]:
try:
  f = open ('aa.txt')
except: # Nếu lỗi
  print('File Error')
  pass
finally: # Không xảy ra lỗi
  print('Final')

File Error
Final